@media (min-width: 1600px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1320px;
  }
}

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1170px;
  }
}

/* Min Width 993px and Max Width 1199200*/

@media (min-width: 993px) and (max-width: 1200px) {
  .hero__wrapper {
    padding: 160px 0 50px;
  }

  .about__wrapper,
  .mission__wrapper,
  .service__wrapper,
  .portfolio__wrapper,
  .team__wrapper,
  .news__wrapper {
    padding-bottom: 60px;
  }

  .service__card .outline__btn a {
    font-size: 14px;
    padding: 15px 10px;
  }
}

/* Min Width 769px and Max Width 992px */

@media (min-width: 769px) and (max-width: 992px) {
  .hero__wrapper {
    padding-top: 160px;
  }

  .hero__img {
    padding-top: 60px;
  }

  .hero__content h1 {
    font-size: 48px;
  }

  .about__img,
  .mission__img {
    padding-top: 80px;
  }

  .service__card .outline__btn a {
    font-size: 14px;
    padding: 15px 10px;
  }

  .portfolio__container .image,
  .portfolio__container .image img {
    width: 50%;
    padding: 10px;
  }

  .common__hero__content h1,
  .service__top h2 {
    font-size: 48px;
  }

  /* Contact Page Responsive CSS */

  .get__in__touch__wrapper {
    padding-top: 60px;
  }

  .get__in__touch__top span {
    font-size: 16px;
  }

  .get__in__touch__top h2 {
    font-size: 36px;
  }

  .git__container {
    padding-top: 50px;
  }

  .contact__wrapper {
    padding: 60px 0 40px;
  }

  .contact__form {
    padding: 20px;
  }
}

/* Min Width 300px and Max Width 768px */

@media (min-width: 300px) and (max-width: 768px) {
  .section__spacing {
    padding: 30px 0;
  }

  .section__title {
    font-size: 30px;
  }

  .hero__wrapper {
    padding-top: 160px;
  }

  .hero__img {
    padding-top: 50px;
  }

  .hero__content h1 {
    font-size: 36px;
  }

  .about__wrapper {
    padding-top: 60px;
  }

  .about__img,
  .mission__img {
    padding-top: 80px;
  }

  .service__card .outline__btn a {
    font-size: 14px;
    padding: 15px 20px;
  }

  .portfolio__container .image,
  .portfolio__container .image img {
    width: 100% !important;
    padding: 10px;
  }

  .newsletter__content h3 {
    font-size: 30px;
  }

  .newsletter__container {
    padding: 20px 10px;
  }

  /* Service Page Responsive CSS */
  .common__hero__wrapper {
    padding: 160px 0 80px;
  }

  .common__hero__content h1,
  .service__top h2 {
    font-size: 36px;
  }

  .hero__breadcrumb ul li a {
    font-size: 16px;
  }

  .services__wrapper {
    padding: 60px 0;
  }

  /* Contact Page Responsive CSS */

  .get__in__touch__wrapper {
    padding-top: 60px;
  }

  .get__in__touch__top span {
    font-size: 16px;
  }

  .get__in__touch__top h2 {
    font-size: 36px;
  }

  .git__container {
    padding-top: 50px;
  }

  .contact__wrapper {
    padding: 60px 0 40px;
  }

  .contact__form {
    padding: 20px;
  }
}
